global-include c_kepler/*.pyx
global-include c_kepler/*.c
global-include c_kepler/*.txt
include requirements.txt
global-include *.pyx
global-include *.so

include ethraid/example_config_files/*
include ethraid/data/*
recursive-exclude ethraid/data/clean_curves
recursive-exclude ethraid/data/local_configs